{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            {%if msg%}
            <p style="color: red">{{msg}}</p>
            {%else%}
            <div class="form">
                <h5>Warunki współpracy przy konferencji: </br><b>{{event.title}}</br>{{event.date|date:'d-m-Y'}}</b></h5>
                <form method="post">
                    {%csrf_token%}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-outline-danger" value="Zapisz">
                </form>
            {%endif%}
            </div>
        </div>
    </div>
</div>

{%endblock%}