{%extends 'base.html'%}

{%load crispy_forms_tags%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="form">
                <h3>Dodaj artykuł:</h3>
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form | crispy}}
                    <input type="submit" class="btn btn-outline-danger" value="Dodaj artykuł">
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}