
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Patronat Medialny</title>
</head>
<header class="header">
    Aplikacja do Zarządzania współpracą z patronami medialnymi
    <div class="main-menu">
        <a href="{%url 'event_list'%}"><button>Home</button></a>
        <a href="{%url 'portal_list'%}"><button>Portale</button></a>
        <a href="{%url 'person_list'%}"><button>Osoby do kontaktu</button></a>
        <button>Artykuły</button>
        <a href="{%url 'search'%}"><button>Wyszukaj</button></a>
        <button>Przygotuj mailing</button>
    </div>
</header>
<body>
{% block content %} {% endblock content %}
</body>
<footer>
    Copyright by EJK, Dzisiaj: {% now "jS F Y" %}

</footer>
</html>