{%extends 'base.html'%}


{%block content%}
</br>
<span class="title">
    <h2>Informacje dotyczące konferencji:</h2>
    <h1>"{{event.title}}"</h1>
    <h3>Data: {{event.date|date:'d-m-Y'}}</h3>
</span>

<div class="details">
    <div class="portals">
        <h4>Patroni medialni wydarzenia:</h4>
        {% for portal in event.portals_cooperating.all%}
        <a href="{% url 'portal_detail' pk=portal.pk %}"><ul><li>{{portal}}</li></ul></a>
        {%endfor%}
    </div>

    <div class="coop-div">

        <h4>Ustalone warunki współpracy z portalami:</h4>
        {%if cooperatin_terms%}

        <table>
            <thead>
                <tr>
                    <td>Portal</td>
                    <td>Usługi dla portalu</td>
                    <td>Usług świadczone przez portal</td>
                    <td>Komentarze</td>
                    <td>data dodania</td>
                </tr>
            </thead>
            <tbody>{%for coo_terms in cooperation_terms%}
                <tr>
                    <td>{{coo_terms.portal}}</td>
                    <td>{{coo_terms.services_for_portal}}</td>
                    <td>{{coo_terms.services_provided_by_portal}}</td>
                    <td>{{coo_terms.comments}}</td>
                    <td>{{coo_terms.date_update|date:"Y-m-d"}}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>

        {%else%}
        <p style="color:steelblue">Brak uzgodnień z patronami medialnymi</p>
        {%endif%}
    </div>

    <nav class="btn">
        <a href="{% url 'event_update' pk=event.pk%}"><button>Edytuj tytuł/datę</button></a>
        <a href="{%url 'event_add_portal' pk=event.pk%}"><button>Dodaj portal do wydarzenia</button></a>
        <a href="{%url 'event_remove_portal' pk=event.pk%}"><button>Usuń portal z wydarzenia</button></a>
        <a href="{% url 'add_terms' pk=event.pk %}"><button>Dodaj warunki współpracy</button></a>
    </nav>

</div>


<br class="container">
        <div class="left-div">
            <h4>Zadania wykonane przed Konferencją:</h4>

            {%if emails%}
            <h5>Wysłane emaile z zaproszeniem:</h5>

             <table>
                 <thead>

                    <tr>
                        <td>Adresaci</td>
                        <td>Kategoria portali</td>
                        <td>Wysłana z konta</td>
                        <td>data wysłania</td>

                    </tr>
                </thead>
            <tbody>
            {%for e in emails%}
                <tr>
                    <td>{%for person in e.to_who.all%}
                    {{person}}
                    {%endfor%}
                    </td>
                    <td>
                    {%for person in e.to_who.all%}
                    {{person.portal.category}}
                    {%endfor%}
                    </td>
                    <td>{{e.send_from_email}}</td>
                    <td>{{e.date|date:"Y-m-d"}}</td>
                </tr>
            </tbody>
            {%endfor%}
            </table>
            {% else %}
            <p style="color: steelblue">Brak mailingów</p>
            {%endif%}

            {%if tasks_before%}
            <h5>Uwagi:</h5>
            <ul>
            {%for task in tasks_before%}
                <li>{{task.comments}} - <a href="{%url 'task_before_update' pk=task.pk%}">
                    <button>Edytuj</button></a> <a href="{%url 'task_before_delete' pk=task.pk%}">
                    <button>Usuń</button></a></li>
            {%endfor%}
            </ul>
            {%else%}
            <p style="color: steelblue">Brak dodatkowych informacji nt. zadań wykonanych przed konferencją</p>
            {%endif%}
            <nav class="btn">
            <a href="{% url 'tasks_before' pk=event.pk%}"><button>Dodaj informacje o działaniach przed wydarzeniem</button></a>
            </nav>
            </div>
            </br>



        <div class="right-div">

            <h4>Zadania wykonane po konferencji:</h4>
            {%if tasks_after%}

            <table>
                <thead>
                    <tr>
                        <td>Portal</td>
                        <td>Czy wysłane materiały pokonferencyjne</td>
                        <td>data wysłania materiałów</td>
                        <td>Komentarze</td>
                        <td>Edycja</td>
                    </tr>
                </thead>
                <tbody>{%for tasks_after in tasks_after%}
                    <tr>
                        <td>{{tasks_after.portal}}</td>
                        <td>{{tasks_after.send_materials_after_event|yesno:"Tak,Nie"}}</td>
                        <td>{{tasks_after.date_when_send|date:"Y-m-d"}}</td>
                        <td>{{tasks_after.comments}}</td>
                        <td><a href="{% url 'tasks_after_update' pk=tasks_after.pk %}"><button>Edytuj</button></a></td>

                    </tr>
                {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p style="color: steelblue">Brak wykonanych działań po konfrencji</p>
            {%endif%}
            <nav class="btn">
                <a href="{% url 'tasks_after' pk=event.pk%}"><button>Dodaj zadania po wydarzeniu</button></a>
            </nav>
        </div>
        <div class="right-div">
            <h3>Artykuły opublikowane nt. wydarzenia</h3>
            {%if articles%}
            {%for article in articles%}
            <ul>
                <li>{{article.title}} - {{article.portal}} - data publikacji:{{article.published_date|date:"d/m/Y"}}
                <a href="{{article.pdf_article.url}}" target="_blank"><button>Pobierz artykuł</button></a></li>
            </ul>
            {%endfor%}
            {%else%}
            <p style="color: steelblue">Brak opublikowanych artykułów nt. wydarzenia</p>
            {%endif%}
        </div>


</div>
</br>


</br>
<nav>
    <a href="{% url 'pdf'  pk=event.pk %}" target="_blank"><button>Pobierz raport Pdf</button></a>
</nav></br>

{%endblock%}