{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h5>Zmień informacje o: <b>{{event}}</b></h5>
             <div class="form">
                <form method="post">
                    {%csrf_token%}
                    {{form|crispy}}
                    <input class="btn btn-outline-danger" type="submit" value="Zaktualizuj">
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}