{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            {%if msg%}
            <b style="color: red">{{msg}}</b>
            {%else%}
            <h5>Usuń portal z konfrencji: </br><b>{{event.title}}</b></br> <b>{{event.date|date:'d-m-Y'}}</b></h5>
            <form method="post">
                {%csrf_token%}
                {{form|crispy}}
                <input class="btn btn-outline-danger" type="submit" value="Usuń">
            </form>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}