{%extends 'base.html'%}

{%block content%}
{%if msg%}
{{msg}}
{%endif%}

Aktualizacja informacji o: "{{event.title}}" - {{event.date}}

<form method="POST">
    {%csrf_token%}
    <label>Tytuł konferencji
    <input type="text" name="title" value="{{event.title}}">
    </label></br>
    <label>Data
        <input type="date" name="date" value="{{event.date}}"></label></br>
    <label>Wybierz portal
    <select name="portal">
        {%for p in portals%}
        <option value="{{p}}">{{p}}</option>
        {%endfor%}
    </select>
        </label></br>

    <input type="submit" value="Zaktualizuj">

</form>


{%endblock%}