{%extends 'base.html'%}

{%block content%}
{%load crispy_forms_tags%}
</br>
</br>

<br class="form-mailing" xmlns="http://www.w3.org/1999/html">

</br>

    <form class="form-portal" method="post">
        {%csrf_token%}
        <h3>Przygotuj mailing:</h3>
        <label>Dotyczy konferencji:</br>
            <select name="event">{%for event in events%}
                <option>{{event.title}}</option>
                {%endfor%}
            </select>
        </label></br>
        </br>
        <label>Tytuł wiadomości:</br>
            <input type="text" name="message_title">
        </label></br>
        </br>
        <label>Nadawca:</br>
            <input type="email" name="who_send">
        </label></br>
        </br>
        <label>Kategoria portalu:</br>
            {%for category in categories%}
        <input id="checkbox" type="checkbox" name="category" value="{{category}}">{{category}}
            {%endfor%}</label>
        </br>
        </br>

        <label>Treść wiadomości:</br>
            <textarea name="message"></textarea></br>
        </label></br>
        <input type="submit" value="Wyślij">
    </form>
</br>
</div>

<div class="msg">
{%if msg%}
{{msg}}
{%for email in emails%}
{{email}},
{%endfor%}
{%endif%}
</div>

{%endblock%}