{%extends 'base.html'%}

{%block content%}
{%load crispy_forms_tags%}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                {%csrf_token%}
                <div class="mb-3">
                    <h3>Przygotuj mailing:</h3>
                </div>

                <div class="mb-3">
                    <label for="event-consernce" class="form-label">Dotyczy konferencji</label>
                    <select name="event" class="form-select" id="event-consernce">
                        {%for event in events%}
                        <option>{{event.title}}</option>
                        {%endfor%}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="mail-title" class="form-label">Tytuł wiadomości</label>
                    <input type="text" name="message_title" class="form-control" id="mail-title">
                </div>

                <div class="mb-3">
                    <label class="form-label">Kategoria tematyczna portalu:</label>
                    {%for category in categories%}
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckChecked">
                            <input name="category" class="form-check-input" type="checkbox" value="{{category}}" id="flexCheckChecked">
                            {{category}}
                            </label>
                        </div>
                    {%endfor%}
                </div>

                <div class="mb-3">
                    <label for="mail-text" class="form-label">Treść wiadomości:</label>
                    <textarea name="message" class="form-control" id="mail-text"></textarea>
                </div>
                <input class="btn btn-outline-danger" type="submit" value="Wyślij">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="msg">
            {%if msg%}
            {{msg}}
            {%for email in emails%}
            {{email}},
            {%endfor%}
            {%endif%}
            </div>
        </div>
    </div>
</div>

{%endblock%}