{%extends 'base.html'%}

{%block content%}
{%load crispy_forms_tags%}
</br>
</br>

<h3>Przygotuj mailing</h3>
<div class="form-mailing">

<form method="post">
    {%csrf_token%}
    <label>Dotyczy konferencji:
        <select name="event">{%for event in events%}
            <option>{{event.title}}</option>
            {%endfor%}
        </select>
    </label></br>
    </br>
    <label>Tytuł wiadomości:
        <input type="text" name="message_title">
    </label></br>
    </br>
    <label>Nadawca
    <input type="email" name="who_send">
    </label></br>
    </br>
    <label>Kategoria portalu:
        {%for category in categories%}
    <input type="checkbox" name="category" value="{{category}}">
        <label>{{category}}</label>
        {%endfor%}
    </input>
    </label></br>
    </br>
    <label>Treść wiadomości:
    <textarea name="message"></textarea></br>
    </label></br>
    <input type="submit" value="Wyślij">
</form>
</div>

<div class="msg">
{%if msg%}
{{msg}}
{%for email in emails%}
{{email}},
{%endfor%}
{%endif%}
</div>

{%endblock%}