{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>Raport działań PR dla konferencji: {{event.title}} - {{event.date|date:'d-m-Y'}}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}"/>
    <style type="text/css">

       @font-face {
            font-family: Tahoma;
            src: "font/Tahoma.ttf";
        }

       body {
           font-family: Tahoma;
       }

        .table-main {
            border: 1px solid black;
            text-align: left;
            vertical-align: bottom;
            padding-top: 5px;
            width: 100%;
            margin-left: 5px;
        }

        h6 {
            text-decoration: underline;
        }

        table th, td {
            border-bottom: 1px solid #ddd;
            padding: 2px;
            text-align: left;

        }

        .my-lists {
              list-style-type: none;
              margin: 0;
              padding: 0;
        }


    </style>


</head>
<body>

<div>
    <div>
        <table class="table-main">
            <tr>
                <td>Raport działań PR dla konferencji:</td>
                <td><b>{{event.title}}</b></td>
            </tr>
            <tr>
                <td>data konferencji:</td>
                <td><b>{{event.date|date:'d-m-Y'}}</b></td>
            </tr>
            <tr>
                <td>Data pobrania raportu:</td>
                <td><b>{{today|date:'d-m-Y'}}</b></td>
            </tr>
        </table>
    </div>
</div>

<div>
    <h6>Patroni medialni wydarzenia:</h6>
                {% for portal in event.portals_cooperating.all%}
    <ul class="my-lists"><li>{{portal}}</li></ul></a>
                {%endfor%}
</div>

<div>
    <h6>Ustalone warunki współpracy z portalami:</h6>
    {%if cooperation_terms%}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Portal</th>
                            <th>Usługi dla portalu</th>
                            <th>Usług świadczone przez portal</th>
                            <th>Komentarze</th>
                            <th>data dodania</th>
                        </tr>
                    </thead>
                    <tbody>{%for coo_terms in cooperation_terms%}
                        <tr>
                            <td>{{coo_terms.portal}}</td>
                            <td>{{coo_terms.services_for_portal}}</td>
                            <td>{{coo_terms.services_provided_by_portal}}</td>
                            <td>{{coo_terms.comments}}</td>
                            <td>{{coo_terms.date_update|date:"Y-m-d"}}</td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>

                {%else%}
                <p style="color:steelblue">Brak uzgodnień z patronami medialnymi</p>
                {%endif%}

</div>

<div>
    <h6>Zadania wykonane przed konferencją:</h6>

    {%if emails%}
                <h5>Wysłane emaile z propozycją współpracy:</h5>

                 <table class="table">
                     <thead>
                        <tr>
                            <th>Adresaci</th>
                            <th>Kategoria portali</th>
                            <th>Wysłana z konta</th>
                            <th>data wysłania</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for e in emails%}
                        <tr>
                            <td>{%for person in e.to_who.all%}
                            {{person}}
                            {%endfor%}
                            </td>
                            <td>
                            {%for person in e.to_who.all%}
                            {{person.portal.category}}
                            {%endfor%}
                            </td>
                            <td>{{e.who_send}}</td>
                            <td>{{e.date|date:"Y-m-d"}}</td>
                        </tr>
                    </tbody>
                    {%endfor%}
                </table>
    {% else %}
    <p style="color: steelblue">Brak mailingów</p>
    {%endif%}

    {%if tasks_before%}
    <h5>Uwagi:</h5>
    <ul class="my-lists">
        {%for task in tasks_before%}
        <li>{{task.comments}} </li>
        {%endfor%}
    </ul>
    {%else%}
    <p style="color: steelblue">Brak dodatkowych informacji nt. zadań wykonanych przed konferencją</p>
    {%endif%}

</div>
<div>
    <h6>Zadania wykonane po konferencji:</h6>
    {%if tasks_after%}
    <table class="table">
        <thead>
            <tr>
                <th>Portal</th>
                <th>Czy wysłane materiały pokonferencyjne</th>
                <th>data wysłania materiałów</th>
                <th>Komentarze</th>
                <th>Edycja</th>
            </tr>
        </thead>
        <tbody>{%for tasks_after in tasks_after%}
            <tr>
                <td>{{tasks_after.portal}}</td>
                <td>{{tasks_after.send_materials_after_event|yesno:"Tak,Nie"}}</td>
                <td>{{tasks_after.date_when_send|date:"Y-m-d"}}</td>
                <td>{{tasks_after.comments}}</td>
                <td><a href="{% url 'tasks_after_update' pk=tasks_after.pk %}"><button class="btn btn-outline-warning btn-sm">Edytuj</button></a></td>

            </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p style="color: steelblue">Brak wykonanych działań po konfrencji</p>
    {%endif%}

</div>
<div>
    <h6>Artykuły opublikowane nt. wydarzenia:</h6>
    {%if articles%}
        {%for article in articles%}
        <ul class="my-lists">
            <li>
                {{article.title}} - {{article.portal}} - data publikacji:{{article.published_date|date:"d/m/Y"}}
            </li>
        </ul>
        {%endfor%}
    {%else%}
        <p style="color: steelblue">Brak opublikowanych artykułów nt. wydarzenia</p>
    {%endif%}
</div>

</body>
</html>