{%extends 'base.html'%}


{%block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row mb-5">
        <div class="col">
            <div class="input-group">
                    <div class="form-outline">
                        <form class="example">
                            {%csrf_token%}
                            <label class="form-label">
                             {{form}}
                            </label>
                              <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {%if result is not None%}
            <h4>Wyniki wyszukiwania:</h4>
                {%for r in result%}
                <ul>
                    <li>{{r}}</li>
                </ul>
                {%empty%}
            Brak wyników wyszukiwania
            {%endfor%}
            {%endif%}
        </div>
    </div>
</div>





{%endblock%}