{%extends 'base.html'%}
{%load crispy_forms_tags%}


{%block content%}
<div class="container">
<h5>Zadania wykonane po konferencji: {{event.title}}</br> {{event.date|date:'d-m-Y'}}</h5>
{% if form.date_when_send.errors %}
  <ol>
  {% for err in form.date_when_send.errors %}
    <li>
      <strong>
        {{ err|escape }}
      </strong>
    </li>
  {% endfor %}
  </ol>
{% endif %}

<div class="row">
    <div class="col-lg-6">
        <form method="post">
            {%csrf_token%}
            {{form|crispy}}
            <input class="btn btn-outline-danger" type="submit" value="Zapisz">

        </form>
        </div>
    </div>
</div>
{%endblock%}