.footer {
    height: 50px;
    background: lightsteelblue;
    font-family: "Arial";

}

.header {
    height: 50px;
    background: lightsteelblue;
    font-family: "Arial";


}

.btn-menu {
    background: steelblue;
    font-family: "Arial";
    font-optical-sizing: auto;
    font-size: large;
    padding-block: inherit;
}

.content {
    background: whitesmoke;
    font-family: "Arial"

}

 .topnav-centered {
     position: relative;
     top: 0;
     left: 0;
     transform: none;
 }

 .center {

  margin-left: auto;
  margin-right: auto;

 }