.footer {
    height: 50px;
    background: lightsteelblue;
    font-family: "Arial";
    text-align: center;
    font-size: medium;
    justify-content: center;

}

.header {
    height: 50px;
    background: lightsteelblue;
    font-family: "Chilanka";


}

.btn-menu {
    background: steelblue;
    font-family: "Arial";
    font-optical-sizing: auto;
    font-size: large;
    padding-block: inherit;
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
}

.btn-menu:hover {
    background-color: lightsteelblue;
    color: center;
}

.content {
    background: whitesmoke;
    font-family: "Arial"

}

 .topnav-centered {
     position: relative;
     top: 0;
     left: 0;
     transform: none;
 }

 .center {

  margin-left: auto;
  margin-right: auto;

 }

table {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}


table.center {
  margin-left: auto;
  margin-right: auto;
}
