{%extends 'base.html'%}

{%block content%}
</br>
</br>
</br>
<table border="1">
    <thead>
        <tr>
            <td>Tytuł</td>
            <td>Opublikowane na portalu</td>
            <td>Dotyczy wydarzenia</td>
            <td>Data publikacji</td>
            <td>PDF</td>
        </tr>
    </thead>
    <tbody>
        {%for article in object_list%}
        <td>{{article.title}}</td>
        <td>{{article.portal}}</td>
        <td>{{article.event}}</td>
        <td>{{article.published_date|date:"d-m-Y"}}</td>
        <td><a href="{{article.pdf_article.url}}" target="_blank"><button>Pobierz artykuł</button></a></td>
        {%endfor%}
    </tbody>
</table>
</br>
<a href="{% url 'article_form'%}"><button>Dodaj nowy artykuł</button></a>

{%endblock%}