{%extends 'base.html'%}

{%block content%}
<h3>Konferencja:</h3>
<h4>{{object.title}}</h4>
<h5>Dnia: {{object.date}}</h5>
<p>Patroni medialni wydarzenia: </br>{% for portal in object.portals_cooperating.all%}
<ul>{{portal}}</ul>
{%endfor%}</p>

<div class="aligned">
    <h4>Zadania wykonane przed Konferencją:</h4>
    {%for task_before in task_before_event%}
    {{task_before.comments}}

    {%endfor%}
</div>

<div><a href="{%url 'event_update' pk=event.pk%}"><button>Dodaj portal do wydarzenia</button></a></div></br>
<div><a href="{% url 'tasks_after' pk=event.pk%}"><button>Zaktualizuj zadania przed wydarzeniem</button></a></div></br>
<a href="{% url 'tasks_before' pk=event.pk%}"><button>Zaktualizuj zadania po wydarzeniu</button></a></br>


{%endblock%}