{%extends 'base.html'%}

{%block content%}
<h3>Konferencja:</h3>
<h4>{{object.title}}</h4>
<h5>Dnia: {{object.date}}</h5>
<p>Patroni medialni wydarzenia: </br>{% for portal in object.portals_cooperating.all%}
<ul>{{portal}}</ul>
{%endfor%}</p>

<div class="aligned">
    <h4>Zadania wykonane przed Konferencją:</h4>
    {%for tasks_before in tasks_before%}

    <p>wysłanie zaproszeń:{{tasks_before.send_invitation_to_portals}}</p>
    <p>kiedy wysłane zaproszenie: {{tasks_before.when_send_invitation}}</p>
    <p>zaproszone portale: {{tasks_before.portals_invited}}</p>
    <p>komentarze: {{task_before.comments}}</p>

    {%endfor%}
</div>
<div class="aligned">
    <h4>Zadania wykonane po konferencji</h4>
    {%for tasks_after in tasks_after%}
    <p>portal:{{tasks_after.portal}}</p>
    <p>wysłanie materiałów pokonferencyjnych: {{tasks_after.send_materials_after_event}}</p>
    <p>data wysłania materiałów: {{tasks_after.date_when_send}}</p>
    <p>komentarze: {{tasks.after.comments}}</p>
    {%endfor%}
</div>

<div class="aligned">
    <h4>Ustalone warunki współpracy:</h4>
    {%for coo_terms in cooperation_terms%}
    <p>Portal: {{coo_terms.portal}}</p>
    <p>Usługi dla portalu: {{coo_terms.services_for_portal}}</p>
    <p>Usługi świadczone przez portal: {{coo_terms.services_provided_by_portal}}</p>
    <p>Komentarze: {{coo_terms.comments}}</p>
    {%endfor%}
</div>

<div><a href="{%url 'event_update' pk=event.pk%}"><button>Dodaj portal do wydarzenia</button></a></div>
<div><a href="{% url 'tasks_after' pk=event.pk%}"><button>Zaktualizuj zadania przed wydarzeniem</button></a></div>
<a href="{% url 'tasks_before' pk=event.pk%}"><button>Zaktualizuj zadania po wydarzeniu</button></a></br>

<a href="{% url 'add_terms' pk=event.pk %}"><button>Dodaj warunki współpracy</button></a>


{%endblock%}