{%extends 'base.html'%}

{%block content%}
<table>
    <tr>
        <th>data</th>
        <th>Konferencja/ szkolenie</th>
    </tr>
    <tr>
        {%for event in object_list%}
        <td>{{event.date}}</td>
        <td>{{event.title}}</td>
        <td><button>Dodaj patronów do wydarzenia</button></td>
        <td><button>Zobacz szczegóły</button></td>
        <td><button>Usuń</button></td>
    </tr>
        {%empty%}
        Nie ma jeszcze konferencji do wyświetlenia
        {%endfor%}
    </tr>
</table>
</br>
<a href="{% url 'event_form'%}"><button>Dodaj nowe wydarzenie</button></a>
{%endblock%}