{%extends 'base.html'%}
{% load custom_tags %}
{%block content%}

</br>
</br>
</br>
<div class="parent">
    <div class="event-list">

            {%for event in object_list%}
        <table class="table-list">
            <tr>
                <td nowrap style="text-align: center">{{event.date|date:"d-m-Y"}}</td>
                <td nowrap style="text-align: center"><a href="{{event.get_absolute_url}}">{{event.title}}</a></td>
                <td nowrap style="text-align: center"><a href="{%url 'event_add_portal' event.pk %}"><button>Dodaj patronów do wydarzenia</button></a></td>
                <td nowrap style="text-align: center"><a href="{%url 'event_delete' event.pk%}"><button>Usuń</button></a></td>
            </tr>
        </table>
               {%empty%}
        <p style="color: steelblue">Nie ma jeszcze konferencji do wyświetlenia</p>
            {%endfor%}
        <nav>
            <a href="{% url 'event_form'%}"><button>Dodaj nowe wydarzenie</button></a>
        </nav>

    </div>
</div>

<div class="parent">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

</br>

    {%endblock%}