{%extends 'base.html'%}
{% load custom_tags %}
{%block content%}
</br>
</br>
</br>

</br>
</br>
</br>
{%for person in object_list%}
<ul><li>
{{person.last_name}} {{person.first_name}} - {{person.portal}}
<a href="{{person.get_absolute_url}}"><button>Więcej</button></a></li></ul>
{%empty%}
Nie ma osób w bazie
{%endfor%}

<div class="parent">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>


</br>
{% if user.is_authenticated %}<a href="{% url 'person_form'%}"><button>Dodaj nową osobę</button></a>{%endif%}
{%endblock%}