{%extends 'base.html'%}

{%block content%}
</br>
</br>
</br>

<div class="parent">
    <table border="1">
        <thead>
        <tr>
            <td>Logo</td>
            <td>Nazwa</td>
            <td>Szczegóły</td>
            <td>Pobierz logo</td>
        </tr>
        </thead>
        <tbody>
            <tr>{%for portal in object_list%}
                <td>{%if portal.logotype%}
                    <img src="{{portal.logotype.url}}" alt="logo portalu" style="width: 80px">
                {%else%} <span text="muted"> Brak logotypu</span>
                {%endif%}</td>
                <td>{{portal.name}}</td>
                <td><a href="{{portal.get_absolute_url}}"><button>Więcej</button></a></td>
                <td><a href="{{portal.logotype.url}}" target="_blank"><button>Pobierz logo</button></a> </td>
            </tr>
        </tbody>
    {%empty%}
    Nie ma Portali do wyświetlenia
    {%endfor%}

    </table>




</div>

    <a href="{% url 'portal_form' %}"><button>Dodaj nowy portal</button></a>

</br>

<div class="parent">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</br>


{%endblock%}