{%extends 'base.html'%}

{%block content%}


<h5>Informacje o portalu: <b>{{object.name}}</b></h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Adres do korespondencji</th>
            <th scope="col">Email</th>
            <th scope="col">Logo</th>
            <th scope="col">Komentarze</th>
            <th scoope="col">Zaktualizuj</th>
            <th scope="col">Usuń</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{object.name}}</td>
            <td>{{object.category}}</td>
            <td>{{object.address}}</td>
            <td>{{object.email}}</td>
            <td>{%if object.logotype%}
                <img src="{{object.logotype.url}}" alt="logo portalu" style="width: 80px">
            {%else%} <span text="muted"> Brak logotypu</span>
            {%endif%}</td>
            <td>{{object.comments}}</td>
            {% if user.is_authenticated %}<td><a href="{%url 'portal_update' pk=object.pk %}"><button class="btn btn-outline-warning">Zaktualizuj</button></a></td>
            <td><a href="{%url 'portal_delete' pk=object.pk%}"><button class="btn btn-outline-warning">Usuń</button></a></td>{% endif %}
        </tr>
    </tbody>
</table>

{%endblock%}
